<% layout("/layouts/boilerplate") %>

<div class="row">
  <div class="col-8 offset-2">
    <br />
    <form
      action="/listings"
      method="POST"
      class="modern-form needs-validation"
      novalidate
      enctype="multipart/form-data"
    >
      <h1>Create A New Listing</h1>
      <div>
        <label for="title" class="form-label">Enter Title</label>
        <input
          type="text"
          name="listing[title]"
          placeholder="Enter title"
          class="form-control"
          required
        />
        <div class="valid-feedback">Looks Good!</div>
        <div class="invalid-feedback">Title should be valid</div>
      </div>
      <div>
        <label for="description" class="form-label">Enter Description</label>
        <textarea
          name="listing[description]"
          placeholder="Enter description"
          class="form-control"
          required
        ></textarea>
        <div class="valid-feedback">Looks Good!</div>
        <div class="invalid-feedback">Description should be valid</div>
      </div>
      <div>
        <label for="image" class="form-label">Upload Image</label>
        <input type="file" name="listing[image]" class="form-control" />
      </div>
      <div class="row">
        <div class="mb-3 col-md-4">
          <label for="price" class="form-label">Price</label>
          <input
            class="form-control"
            name="listing[price]"
            placeholder="Enter price"
            required
          />
          <div class="valid-feedback">Looks Good!</div>
          <div class="invalid-feedback">Price should be valid</div>
        </div>
        <div class="mb-3 col-md-8">
          <label for="country" class="form-label">Country</label>
          <input
            class="form-control"
            type="text"
            name="listing[country]"
            placeholder="Enter country"
            required
          />
          <div class="valid-feedback">Looks Good!</div>
          <div class="invalid-feedback">Country should be valid</div>
        </div>
      </div>

      <div>
        <label for="location" class="form-label">Location</label>
        <input
          class="form-control"
          type="text"
          name="listing[location]"
          placeholder="Enter location"
          required
        />
        <div class="valid-feedback">Looks Good!</div>
        <div class="invalid-feedback">Location should be valid</div>
      </div>

      <br /><br />
      <button class="btn btn-dark add-btn">Submit Listing</button>
    </form>
  </div>
</div>
